# Overviewing Table...

## import data
제공한 자료들 살펴보기

In [1]:
#%reset

### 1 데이터 불러오기
자료 Table 가져오기

In [2]:
# Reviewing Tag info
import os, glob
filelist = glob.glob('./Csv/*.*')
filelist

['./Csv/Test_set.csv',
 './Csv/Answer_sheet.xlsx',
 './Csv/Tags_info.xlsx',
 './Csv/Data_set.csv']

In [3]:
import pandas as pd
df_tag = pd.read_excel(filelist[2], index_col=None)
df_tag.head(2)

,No,변수영문명,변수명,변수명-full,변수요약,변수 설명,비고
0,Data,CUST_ID,ID,고객_ID,ID,임의로 부여한 고객번호,NaN
1,Data,TARGET,연체,대출연체여부,OvD,"대출연체 발생 여부: 미발생(0), 발생(1)",Test_set에는 값이 없음

In [4]:
df_org = pd.read_csv(filelist[3], encoding='ms949')
df_org = df_org.drop('CUST_ID', axis=1)  # 불필요한 ID는 제거
print(df_org.head(2))

   TARGET  BNK_LNIF_CNT  CPT_LNIF_CNT  SPART_LNIF_CNT  ECT_LNIF_CNT  \
0       0             1             0               0             0
1       0             1             0               0             0

   TOT_LNIF_AMT  TOT_CLIF_AMT  BNK_LNIF_AMT  CPT_LNIF_AMT  CRDT_OCCR_MDIF  \
0          9001          9001          9001             0               1
1         24001             0         24001             0               0

     ...      CBPT_MBSP_YN  MOBL_FATY_PRC  TEL_CNTT_QTR  NUM_DAY_SUSP  \
0    ...                 N         800000         20111             0
1    ...                 N         500000         20143             0

   CRMM_OVDU_AMT TLFE_UNPD_CNT  LT1Y_MXOD_AMT  PAYM_METD  LINE_STUS  MOBL_PRIN
0              0             0              0          O          U     580000
1              0             0              0          O          U      90000

[2 rows x 68 columns]

In [5]:
result = {}
for i, tag  in  enumerate(df_tag.변수영문명):
    result[tag] = df_tag.변수명[i]
# 요약 색인으로 변경
df = df_org.rename(columns=result)
df.columns

Index(['연체', '은행', '카드할부', '2금융', '기타', '총액', '신용대출/총액', '은행/총액', '카드할부/총액',
       '신용대출/유지기간', '2금융/유지기간', '신용카드', '신용카드/유지기간', '보증', '보증/총액', '직업',
       '추정소득', '가구추정소득', '가족수', '가족수/보험', '막내나이', '배우자직업', '배우자소득', '신용대출',
       '최초대출', '신용대출/한화', '신용상환/한화', '연체율/신대', '연체율/신대/30', '연체율/신대/1년',
       '최초등급', '최근등급', '연체율/보험', '연체율/보험/1년', '약관대출/월별', '약관대출/잔액', '약관대출/1년',
       '약관대출/1년연체', '보험료/보장', '보험료/저축', '보험료/보장/가구', '보험료/저축/가구', '보험료/최대',
       '보험료/유효', '보험료/유효/가구', '실효해지', '실효해지/1년', '자동이체/실패월수', '보험료/가구',
       '보험청구/가구', '보험완납/가구', '연령', '성별', '월통화/분', '월통화/빈도', '멤버쉽', '회선수익',
       '납부요금', '결합여부', '단말기', '가입일', '정지일수', '연체액/당월', '납부미준수', '연체액/연',
       '납부방법', '회선상태', '단말기/잔금'],
      dtype='object')

### 2 상위 columns 첨부하기
데이터 제공기관 분류

In [6]:
top = {}
for i, tag  in  enumerate(df_tag.변수명):
    top[tag] = df_tag.No[i]
cols = [top[col]  for col in df.columns]   
idx = df.columns.tolist()
top = [top[ids]  for ids in idx]

In [7]:
df.columns = [top , df.columns]
df = df.sortlevel(0, axis=1)
df.head(2)

  Data        Hanhwa                                       ...       SKT  \
    성별  연령 연체 가구추정소득 가족수 가족수/보험  막내나이 배우자소득 배우자직업  보험료/가구  ...       단말기
0    1  50  0   7700   4      1  24.0     0    주부       0  ...    800000
1    1  50  0   8100   4      2  29.0     0    주부  300000  ...    500000


   단말기/잔금  멤버쉽 연체액/당월 연체액/연 월통화/분 월통화/빈도 정지일수 회선상태   회선수익
0  580000  NaN      0     0   450    493    0    U  30000
1   90000  NaN      0     0    81     22    0    U  30000

[2 rows x 68 columns]

### 3 Data 컬럼의 영역 살펴보기
표준이 되는 기본데이터로 \* 표시는 뭐꼬???

In [8]:
# Data 개별 컬럼의 데이터 살펴보기
print(len(df['Data'].columns), 'total column counts')
for col in df['Data'].columns:
    print(col , '\n', set(df['Data'][col].dropna()), '\n\n')

3 total column counts
성별
 {'2', '1', '*'}


연령
 {'50', '65', '45', '*', '60', '35', '20', '30', '70', '55', '25', '40'}


연체
 {0, 1}

In [9]:
# 성별데이터 0.4 % 의 이물질이 끼어 있다.
sex_estro = [i  for i,check in enumerate(df['Data'].성별)  if check == '*']
len(sex_estro)/ len(df.index) * 100

0.42900042900042895

In [10]:
# 연령 데이터의 0.43 % 의 이물질이 끼어 있다.
age_estro = [i  for i,check in enumerate(df['Data'].연령)  if check == '*']
len(age_estro)/ len(df.index) * 100

0.42900042900042895

In [11]:
# [err for idx in sex_estro  if idx not in age_estro]
# [err for idx in age_estro  if idx not in sex_estro]
print(age_estro == sex_estro)
# '*' 표시 데이터 살펴보기 
# 총 430개 정보에 아래와 같이 연체여부만 존재
df['Data'].iloc[age_estro,:].head(3)

True

    성별 연령  연체
22   *  *   0
23   *  *   0
165  *  *   0

In [21]:
df['Data'][::3000]

      성별  연령  연체
0      1  50   0
3000   2  50   0
6000   2  45   0
9000   1  35   0
12000  1  45   1
15000  1  45   0
18000  2  55   0
21000  2  50   0
24000  2  40   0
27000  1  40   0
30000  2  45   0
33000  1  35   0
36000  2  65   0
39000  2  40   0
42000  1  50   0
45000  2  30   1
48000  2  65   0
51000  1  35   0
54000  2  30   0
57000  1  45   0
60000  2  55   0
63000  2  30   0
66000  1  35   0
69000  2  40   1
72000  1  50   0
75000  2  35   0
78000  2  50   0
81000  2  45   0
84000  1  35   0
87000  1  55   0
90000  1  35   0
93000  2  45   0
96000  2  45   0
99000  2  50   0

### 4 Hanhwa 컬럼의 영역 살펴보기
보험데이터 살펴보기

In [13]:
Column_index = 'Hanhwa'
df[Column_index].head(2)

,가구추정소득,가족수,가족수/보험,막내나이,배우자소득,배우자직업,보험료/가구,보험료/보장,보험료/보장/가구,보험료/유효,...,연체율/보험/1년,연체율/신대,연체율/신대/1년,연체율/신대/30,자동이체/실패월수,직업,최근등급,최초대출,최초등급,추정소득
0,7700,4,1,24.0,0,주부,0,190000,190000,20000000,...,20미만,0,0,0,10,공무원,0,0,0,5400
1,8100,4,2,29.0,0,주부,300000,0,110000,7000000,...,0,0,0,0,0,자영업,0,0,0,5500

In [14]:
# 한화 개별 컬럼의 데이터 살펴보기
# '막내나이'데이터만 분실할뿐 다른 영역은 나름 알차게 정리되어 있다.
print(len(df[Column_index].columns), 'total column counts')
for col in df[Column_index].columns:
    print(col , '\n', set(df[Column_index][col]), '\n\n')
#     print(col , '\n', set(df['Hanhwa'][col].dropna()), '\n\n')

36 total column counts
가구추정소득
 {0, 4100, 16900, 8200, 3600, 7700, 3100, 7200, 20000, 11300, 2600, 6700, 10800, 14900, 6200, 10300, 1600, 5700, 9800, 13900, 5200, 9300, 4700, 8800, 12900, 4200, 8300, 12400, 3700, 7800, 11900, 3200, 7300, 2700, 6800, 10900, 6300, 10400, 5800, 9900, 5300, 9400, 4800, 8900, 4300, 8400, 3800, 7900, 3300, 7400, 11500, 2800, 6900, 11000, 6400, 10500, 5900, 10000, 5400, 9500, 4900, 9000, 4400, 8500, 3900, 8000, 12100, 3400, 7500, 2900, 7000, 11100, 2400, 6500, 10600, 6000, 10100, 5500, 9600, 5000, 9100, 4500, 8600, 4000, 8100, 3500, 7600, 11700, 3000, 7100, 19900, 11200, 2500, 6600, 10700, 6100, 10200, 5600, 9700, 5100, 9200, 4600, 8700}


가족수
 {1, 2, 3, 4, 5, 6, 7, 8}


가족수/보험
 {1, 2, 3, 4, 5}


막내나이
 {0.0, nan, nan, nan, 4.0, nan, nan, nan, nan, 9.0, nan, nan, nan, nan, 14.0, nan, 19.0, 24.0, nan, 29.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 34.0, 39.0, 44.0, 49.0, nan, nan, 54.0, nan, nan, nan, nan, 59.0, 60.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan}


배우자소득
 {0, 6400, 3200, 4100, 5000, 5900, 2700, 6800, 3600, 10000, 4500, 5400, 3100, 6300, 4000, 7200, 4900, 5800, 2600, 9900, 3500, 4400, 5300, 6200, 3000, 3900, 4800, 5700, 8900, 2500, 6600, 3400, 7500, 4300, 5200, 8400, 6100, 2900, 3800, 7000, 4700, 7900, 5600, 3300, 6500, 4200, 5100, 6000, 2800, 3700, 4600, 5500}


배우자직업
 {nan, '*', '사무직', '자영업', '학생', '2차산업 종사자', '3차산업 종사자', '단순 사무직', '기업/단체 임원', '기타', '1차산업 종사자', '운전직', '공무원', '고소득 전문직', '전문직', '단순 노무직', '주부', '예체능계 종사자'}


보험료/가구
 {0, 19200000, 6400000, 38400000, 64000000, 57600000, 12800000, 25600000, 96000000, 9300000, 2900000, 60500000, 22100000, 47700000, 28500000, 15700000, 12200000, 5800000, 25000000, 89000000, 57000000, 37800000, 18600000, 2300000, 21500000, 27900000, 15100000, 47100000, 8700000, 82000000, 37200000, 11600000, 24400000, 5200000, 56400000, 18000000, 20900000, 1700000, 14500000, 46500000, 8100000, 27300000, 11000000, 17400000, 4600000, 36600000, 75000000, 55800000, 23800000, 20300000, 1100000, 7500000, 13900000, 45900000, 26700000, 4000000, 10400000, 68000000, 23200000, 36000000, 16800000, 55200000, 29600000, 100000000, 500000, 13300000, 6900000, 26100000, 19700000, 45300000, 64500000, 93000000, 9800000, 3400000, 35400000, 16200000, 61000000, 29000000, 125000000, 54600000, 22600000, 6300000, 25500000, 12700000, 44700000, 19100000, 28400000, 22000000, 2800000, 15600000, 150000000, 34800000, 86000000, 9200000, 54000000, 44100000, 18500000, 12100000, 24900000, 5700000, 300100000, 79000000, 8600000, 175000000, 34200000, 2200000, 15000000, 27800000, 21400000, 53400000, 17900000, 43500000, 11500000, 5100000, 24300000, 1600000, 14400000, 200000000, 8000000, 20800000, 72000000, 52800000, 33600000, 27200000, 10900000, 4500000, 17300000, 68500000, 42900000, 23700000, 7400000, 1000000, 225000000, 26600000, 33000000, 13800000, 65000000, 20200000, 52200000, 3900000, 23100000, 16700000, 29500000, 61500000, 10300000, 42300000, 32400000, 400000, 13200000, 51600000, 6800000, 90000000, 19600000, 26000000, 3300000, 16100000, 22500000, 9700000, 41700000, 28900000, 31800000, 6200000, 19000000, 51000000, 12600000, 115000000, 83000000, 25400000, 15500000, 28300000, 9100000, 41100000, 21900000, 2700000, 300000000, 5600000, 140000000, 50400000, 31200000, 24800000, 18400000, 12000000, 76000000, 14900000, 27700000, 8500000, 2100000, 40500000, 21300000, 59700000, 24200000, 17800000, 5000000, 11400000, 30600000, 49800000, 69000000, 65500000, 1500000, 7900000, 27100000, 14300000, 39900000, 59100000, 20700000, 97500000, 23600000, 4400000, 17200000, 62000000, 10800000, 49200000, 30000000, 13700000, 7300000, 900000, 58500000, 26500000, 39300000, 20100000, 87000000, 16600000, 29400000, 3800000, 10200000, 23000000, 48600000, 19500000, 25900000, 38700000, 300000, 6700000, 13100000, 57900000, 3200000, 9600000, 16000000, 80000000, 22400000, 48000000, 28800000, 6100000, 25300000, 38100000, 18900000, 57300000, 12500000, 21800000, 2600000, 105000000, 15400000, 47400000, 9000000, 73000000, 28200000, 69500000, 37500000, 56700000, 5500000, 11900000, 24700000, 18300000, 8400000, 2000000, 21200000, 14800000, 27600000, 46800000, 130000000, 66000000, 62500000, 56100000, 11300000, 36900000, 4900000, 17700000, 94500000, 24100000, 20600000, 1400000, 7800000, 46200000, 27000000, 14200000, 10700000, 4300000, 23500000, 55500000, 36300000, 29900000, 17100000, 20000000, 800000, 7200000, 13600000, 45600000, 84000000, 26400000, 10100000, 22900000, 29300000, 3700000, 35700000, 54900000, 16500000, 13000000, 200000, 6600000, 45000000, 25800000, 77000000, 19400000, 3100000, 9500000, 35100000, 15900000, 22300000, 54300000, 28700000, 70000000, 18800000, 12400000, 44400000, 25200000, 6000000, 8900000, 15300000, 2500000, 34500000, 53700000, 28100000, 21700000, 66500000, 63000000, 24600000, 5400000, 11800000, 18200000, 43800000, 8300000, 53100000, 1900000, 33900000, 21100000, 14700000, 27500000, 91500000, 11200000, 4800000, 120000000, 17600000, 24000000, 88000000, 43200000, 1300000, 26900000, 14100000, 7700000, 20500000, 52500000, 33300000, 4200000, 42600000, 81000000, 10600000, 23400000, 17000000, 145000000, 29800000, 26300000, 700000, 13500000, 32700000, 7100000, 19900000, 51900000, 16400000, 22800000, 10000000, 3600000, 74000000, 42000000, 29200000, 25700000, 100000, 6500000, 12900000, 19300000, 51300000, 32100000, 67000000, 3000000, 28600000, 9400000, 41400000, 22200000, 99000000, 15800000, 25100000, 5900000, 63500000, 31500000, 18700000, 50700000, 12300000, 15200000, 2400000, 8800000, 60000000, 40800000, 21600000, 28000000, 5300000, 18100000, 30900000, 11700000, 50100000, 24500000, 8200000, 14600000, 1800000, 21000000, 59400000, 40200000, 85000000, 27400000, 17500000, 49500000, 4700000, 11100000, 23900000, 30300000, 26800000, 7600000, 110000000, 39600000, 1200000, 20400000, 14000000, 58800000, 78000000, 4100000, 48900000, 29700000, 16900000, 10500000, 23300000, 13400000, 26200000, 71000000, 19800000, 600000, 7000000, 58200000, 135000000, 39000000, 48300000, 67500000, 29100000, 3500000, 9900000, 16300000, 22700000}


보험료/보장
 {0, 80000, 160000, 4000000, 9999, 490000, 90000, 2490000, 100000, 340000, 260000, 190000, 30000, 110000, 990000, 590000, 2990000, 40000, 200000, 120000, 50000, 130000, 1490000, 300000, 140000, 60000, 390000, 70000, 230000, 150000, 790000, 1190000, 1990000, 3990000}


보험료/보장/가구

 {0, 80000, 160000, 4000000, 9999, 490000, 90000, 2490000, 340000, 260000, 100000, 2990000, 190000, 30000, 110000, 990000, 590000, 40000, 200000, 120000, 50000, 130000, 1490000, 300000, 140000, 60000, 790000, 230000, 390000, 1190000, 150000, 70000, 1990000, 3990000}


보험료/유효
 {20000000, 4000000, 2000000, 36000000, 18000000, 6000000, 16000000, 8000000, 24000000, 10000000, 50000000, 25000000, 139000000, 22000000, 0, 47000000, 239000000, 33000000, 58000000, 19000000, 44000000, 30000000, 119000000, 80000000, 66000000, 27000000, 52000000, 64000000, 13000000, 38000000, 49000000, 35000000, 99000000, 60000000, 21000000, 46000000, 199000000, 11000000, 1000000, 7000000, 3000000, 9000000, 17000000, 41000000, 89000000, 15000000, 5000000, 32000000, 29000000, 68000000, 54000000, 43000000, 399000000, 299000000, 40000000, 1000000000, 26000000, 51000000, 12000000, 76000000, 37000000, 62000000, 999000000, 23000000, 48000000, 73000000, 34000000, 84000000, 109000000, 45000000, 70000000, 31000000, 159000000, 56000000, 42000000, 28000000, 14000000, 39000000}


보험료/유효/가구
 {20000000, 36000000, 4000000, 6000000, 2000000, 14000000, 12000000, 28000000, 16000000, 40000000, 89000000, 139000000, 50000000, 22000000, 0, 47000000, 239000000, 8000000, 58000000, 19000000, 44000000, 5000000, 30000000, 119000000, 80000000, 66000000, 27000000, 52000000, 64000000, 13000000, 38000000, 24000000, 49000000, 10000000, 99000000, 35000000, 60000000, 21000000, 46000000, 7000000, 11000000, 33000000, 1000000, 3000000, 41000000, 9000000, 109000000, 17000000, 159000000, 15000000, 18000000, 43000000, 29000000, 54000000, 299000000, 68000000, 399000000, 1000000000, 26000000, 51000000, 32000000, 76000000, 37000000, 199000000, 62000000, 999000000, 23000000, 48000000, 73000000, 34000000, 84000000, 45000000, 70000000, 25000000, 31000000, 56000000, 42000000, 39000000}


보험료/저축
 {0, 160000, 80000, 4000000, 490000, 90000, 2490000, 100000, 340000, 260000, 990000, 30000, 110000, 590000, 190000, 2990000, 200000, 120000, 40000, 50000, 1490000, 130000, 60000, 140000, 300000, 150000, 790000, 390000, 230000, 1190000, 1990000, 70000, 3990000}


보험료/저축/가구
 {0, 160000, 80000, 10000000, 2490000, 90000, 490000, 100000, 340000, 260000, 990000, 110000, 30000, 590000, 190000, 2990000, 4990000, 6990000, 200000, 120000, 40000, 50000, 1490000, 130000, 60000, 140000, 300000, 390000, 790000, 150000, 230000, 70000, 1190000, 1990000, 3990000, 9990000}


보험료/최대
 {0, 80000, 160000, 10000000, 9999, 90000, 490000, 2490000, 100000, 340000, 260000, 190000, 590000, 30000, 2990000, 110000, 990000, 4990000, 6990000, 200000, 40000, 120000, 50000, 130000, 1490000, 300000, 60000, 140000, 790000, 390000, 70000, 1190000, 150000, 230000, 3990000, 1990000, 9990000}


보험완납/가구
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 21, 22}


보험청구/가구
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 170, 46, 171, 48, 47, 49, 45, 50, 51, 54, 55, 53, 57, 58, 59, 60, 56, 64, 140, 52, 68, 72, 76, 80, 84, 88, 92, 96, 100, 110, 120}


신용대출
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}


신용대출/한화
 {0, 4000000, 50000000, 2000000, 20000000, 16000000, 22000000, 6000000, 8000000, 24000000, 25000000, 36000000, 100000000, 33000000, 19000000, 30000000, 55000000, 80000000, 27000000, 38000000, 10000000, 35000000, 60000000, 21000000, 7000000, 23000000, 3000000, 15000000, 9000000, 13000000, 17000000, 32000000, 5000000, 11000000, 18000000, 29000000, 40000000, 1000000, 65000000, 26000000, 12000000, 101000000, 37000000, 34000000, 45000000, 70000000, 31000000, 28000000, 14000000, 39000000}


신용상환/한화
 {0, 4000000, 2000000, 50000000, 10000000, 20000000, 32000000, 22000000, 6000000, 8000000, 11000000, 100000000, 36000000, 33000000, 19000000, 30000000, 55000000, 16000000, 80000000, 27000000, 13000000, 38000000, 24000000, 35000000, 60000000, 21000000, 23000000, 7000000, 3000000, 15000000, 25000000, 9000000, 101000000, 17000000, 5000000, 1000000, 18000000, 29000000, 40000000, 65000000, 26000000, 12000000, 37000000, 34000000, 45000000, 70000000, 31000000, 28000000, 14000000, 39000000}


실효해지
 {0, 1, 2, 3, 4, 5, 6, 7}


실효해지/1년
 {0, 1, 2, 3, 4, 5, 6}


약관대출/1년
 {0, 10000000, 2000000, 4000000, 6000000, 30000000, 16000000, 8000000, 24000000, 12000000, 50000000, 36000000, 75000000, 22000000, 100000000, 33000000, 19000000, 44000000, 94000000, 80000000, 66000000, 27000000, 38000000, 35000000, 21000000, 46000000, 1000000, 3000000, 9000000, 5000000, 11000000, 25000000, 13000000, 17000000, 53000000, 7000000, 18000000, 29000000, 15000000, 40000000, 26000000, 32000000, 101000000, 37000000, 62000000, 23000000, 87000000, 48000000, 34000000, 59000000, 20000000, 70000000, 31000000, 56000000, 42000000, 28000000, 14000000, 39000000}


약관대출/1년연체
 {0, 100, 70, 40, 10, 50, 20, 90, 60, 30}


약관대출/월별
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}


약관대출/잔액
 {0, 2000000, 6000000, 4000000, 100000000, 20000000, 8000000, 40000000, 10000000, 14000000, 25000000, 50000000, 36000000, 22000000, 44000000, 30000000, 16000000, 80000000, 38000000, 24000000, 35000000, 60000000, 21000000, 46000000, 71000000, 7000000, 1000000, 3000000, 15000000, 27000000, 5000000, 11000000, 13000000, 33000000, 19000000, 18000000, 29000000, 65000000, 26000000, 32000000, 12000000, 101000000, 37000000, 23000000, 48000000, 9000000, 34000000, 31000000, 56000000, 17000000, 42000000, 28000000, 53000000, 39000000}


연체율/보험
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 91, 93, 96, 99, 100}


연체율/보험/1년
 {'90미만', '20미만', '50미만', '90이상', '30미만', '60미만', '40미만', '10미만', '0'}


연체율/신대
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99, 100}


연체율/신대/1년
 {0, 100, 70, 40, 10, 80, 50, 20, 90, 60, 30}


연체율/신대/30
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 64, 69, 76, 100}


자동이체/실패월수
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61}


직업
 {nan, '*', '학생', '자영업', '사무직', '3차산업 종사자', '2차산업 종사자', '단순 사무직', '기업/단체 임원', '기타', '1차산업 종사자', '단순 노무직', '공무원', '고소득 전문직', '운전직', '전문직', '주부', '예체능계 종사자'}


최근등급
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


최초대출
 {0, 200704, 200706, 200707, 200708, 200709, 200710, 200711, 200712, 200201, 200202, 200203, 200204, 200205, 200206, 200207, 200208, 200209, 200210, 200211, 200212, 201301, 201302, 201303, 201304, 201305, 201306, 201307, 201308, 201309, 201310, 201311, 201312, 200801, 200802, 200803, 200804, 200805, 200806, 200807, 200808, 200809, 200810, 200811, 200812, 200301, 200302, 200303, 200304, 200305, 200306, 200307, 200308, 200309, 200310, 200311, 200312, 200705, 201401, 201402, 201403, 201404, 201405, 201406, 201407, 201408, 201409, 201410, 201411, 201412, 200901, 200902, 200903, 200904, 200905, 200906, 200907, 200908, 200909, 200910, 200911, 200912, 200401, 200402, 200403, 200404, 200405, 200406, 200407, 200408, 200409, 200410, 200411, 200412, 199909, 199910, 199911, 199912, 201501, 201502, 201503, 201504, 201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512, 201001, 201002, 201003, 201004, 201005, 201006, 201007, 201008, 201009, 201010, 201011, 201012, 200501, 200502, 200503, 200504, 200505, 200506, 200507, 200508, 200509, 200510, 200511, 200512, 200001, 200002, 200003, 200004, 200005, 200006, 200007, 200008, 200009, 200010, 200011, 200012, 201601, 201602, 201603, 201604, 201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110, 201111, 201112, 200601, 200602, 200603, 200604, 200605, 200606, 200607, 200608, 200609, 200610, 200611, 200612, 200101, 200102, 200103, 200104, 200105, 200106, 200107, 200108, 200109, 200110, 200111, 200112, 201201, 201202, 201203, 201204, 201205, 201206, 201207, 201208, 201209, 201210, 201211, 201212, 200701, 200702, 200703}


최초등급
 {0, 1, 2, 3, 4, 5, 6, 7}


추정소득
 {0, 3200, 6400, 4100, 5000, 5900, 2700, 3600, 10000, 6800, 4500, 5400, 6300, 3100, 4000, 7200, 4900, 5800, 2600, 3500, 9900, 4400, 5300, 3000, 6200, 3900, 4800, 5700, 8900, 2500, 3400, 6600, 4300, 7500, 8400, 5200, 6100, 2900, 3800, 7000, 4700, 7900, 5600, 2400, 6500, 3300, 4200, 5100, 6000, 2800, 3700, 4600, 5500}

In [22]:
Column_index = 'Hanhwa'
df[Column_index].iloc[::3000,:13]

,가구추정소득,가족수,가족수/보험,막내나이,배우자소득,배우자직업,보험료/가구,보험료/보장,보험료/보장/가구,보험료/유효,보험료/유효/가구,보험료/저축,보험료/저축/가구
0,7700,4,1,24.0,0,주부,0,190000,190000,20000000,20000000,0,0
3000,9200,1,1,0.0,0,NaN,0,300000,300000,26000000,26000000,0,0
6000,7400,4,1,24.0,5500,사무직,4800000,0,0,21000000,21000000,0,0
9000,5100,1,1,0.0,0,NaN,0,990000,990000,4000000,4000000,0,0
12000,9900,4,1,19.0,5200,사무직,400000,340000,340000,37000000,37000000,0,0
15000,6700,3,1,0.0,0,NaN,0,120000,120000,15000000,15000000,0,0
18000,12400,3,1,24.0,6800,사무직,0,70000,70000,19000000,19000000,110000,110000
21000,7500,4,3,34.0,4600,운전직,700000,160000,390000,19000000,43000000,0,0
24000,9400,3,2,24.0,5200,주부,600000,0,120000,2000000,11000000,0,100000
27000,8000,5,2,14.0,4500,공무원,600000,160000,490000,26000000,66000000,0,0
30000,9700,4,2,19.0,5100,자영업,700000,490000,490000,64000000,84000000,0,0
33000,3800,3,1,0.0,0,주부,400000,140000,140000,2000000,2000000,0,0
36000,4100,3,2,39.0,0,자영업,3200000,110000,110000,49000000,64000000,0,0
39000,6000,4,2,39.0,4900,자영업,16200000,30000,30000,32000000,39000000,0,300000
42000,5200,3,2,24.0,4400,공무원,2200000,100000,120000,19000000,36000000,0,0
45000,10900,4,1,29.0,5400,3차산업 종사자,600000,190000,190000,10000000,10000000,0,0
48000,5100,3,1,34.0,0,2차산업 종사자,2500000,50000,50000,5000000,5000000,0,0
51000,3500,1,1,0.0,0,NaN,0,0,0,5000000,5000000,0,0
54000,7500,2,1,0.0,3900,단순 사무직,0,0,0,4000000,4000000,230000,230000
57000,4700,5,1,19.0,0,2차산업 종사자,200000,0,0,6000000,6000000,0,0
60000,3900,1,1,0.0,0,NaN,800000,60000,60000,12000000,12000000,0,0
63000,4200,2,1,0.0,0,NaN,0,30000,30000,1000000,1000000,0,0
66000,7500,4,1,0.0,3700,2차산업 종사자,500000,90000,90000,11000000,11000000,0,0
69000,7800,1,1,0.0,0,NaN,0,0,0,3000000,3000000,110000,110000
72000,7600,1,1,0.0,0,NaN,0,0,0,5000000,5000000,0,0
75000,6400,3,2,9.0,0,NaN,36900000,200000,390000,31000000,99000000,0,300000
78000,10200,3,2,0.0,0,NaN,50100000,100000,390000,7000000,84000000,0,340000
81000,5300,4,1,19.0,5000,2차산업 종사자,1400000,120000,120000,12000000,12000000,0,0
84000,6700,4,1,39.0,0,주부,0,230000,230000,11000000,11000000,0,0
87000,5100,1,1,0.0,0,NaN,0,0,0,12000000,12000000,300000,300000
90000,3600,1,1,0.0,0,NaN,0,80000,80000,3000000,3000000,0,0
93000,9800,3,1,19.0,0,주부,800000,0,0,4000000,4000000,0,0
96000,9200,2,1,0.0,0,NaN,0,0,0,18000000,18000000,490000,490000
99000,6700,3,1,24.0,4000,2차산업 종사자,0,0,0,7000000,7000000,0,0

In [23]:
Column_index = 'Hanhwa'
df[Column_index].iloc[::3000,13:26]

,보험료/최대,보험완납/가구,보험청구/가구,신용대출,신용대출/한화,신용상환/한화,실효해지,실효해지/1년,약관대출/1년,약관대출/1년연체,약관대출/월별,약관대출/잔액,연체율/보험
0,190000,0,0,0,0,0,0,0,0,0,0,0,12
3000,300000,0,0,0,0,0,0,0,0,0,0,0,7
6000,260000,4,3,0,0,0,0,0,0,0,0,0,12
9000,990000,0,0,0,0,0,0,0,0,0,0,0,0
12000,340000,1,2,0,0,0,0,0,0,0,0,0,2
15000,120000,1,7,0,0,0,0,0,1000000,30,100,11000000,21
18000,300000,1,0,0,0,0,0,0,0,0,0,0,8
21000,390000,0,2,0,0,0,0,0,0,0,0,0,0
24000,0,1,4,0,0,0,0,0,0,0,0,0,0
27000,200000,1,0,0,0,0,0,0,0,0,0,0,1
30000,490000,6,4,0,0,0,0,0,0,0,0,0,1
33000,1490000,0,2,4,19000000,19000000,0,0,0,0,0,0,1
36000,340000,8,4,0,0,0,0,0,0,0,37,10000000,2
39000,490000,5,7,2,24000000,24000000,1,0,0,0,0,0,6
42000,200000,4,0,0,0,0,0,0,0,0,0,0,12
45000,990000,0,3,0,0,0,0,0,0,0,0,0,0
48000,230000,0,3,0,0,0,0,0,0,0,0,0,5
51000,50000,1,0,0,0,0,0,0,0,0,0,0,0
54000,230000,0,0,0,0,0,0,0,0,0,0,0,0
57000,50000,2,1,0,0,0,0,0,0,0,0,0,22
60000,80000,1,4,1,3000000,0,0,0,0,0,28,2000000,5
63000,590000,0,0,0,0,0,0,0,0,0,0,0,15
66000,90000,1,2,0,0,0,0,0,0,0,0,0,3
69000,110000,0,0,0,0,0,0,0,0,0,0,0,0
72000,40000,2,0,0,0,0,0,0,0,0,0,0,1
75000,200000,5,10,0,0,0,0,0,0,0,0,0,4
78000,100000,2,0,0,0,0,0,0,0,0,0,0,19
81000,230000,0,6,0,0,0,0,0,0,0,0,0,4
84000,230000,0,0,0,0,0,0,0,0,0,0,0,2
87000,390000,1,0,0,0,0,0,0,0,0,0,0,2
90000,80000,0,0,0,0,0,0,0,0,0,0,0,0
93000,30000,1,2,0,0,0,0,0,0,0,0,0,0
96000,490000,1,0,0,0,0,0,0,0,0,21,2000000,9
99000,40000,2,0,0,0,0,0,0,0,0,0,0,0

In [24]:
Column_index = 'Hanhwa'
df[Column_index].iloc[::3000,26:]

,연체율/보험/1년,연체율/신대,연체율/신대/1년,연체율/신대/30,자동이체/실패월수,직업,최근등급,최초대출,최초등급,추정소득
0,20미만,0,0,0,10,공무원,0,0,0,5400
3000,0,0,0,0,3,기업/단체 임원,0,0,0,9900
6000,0,0,0,0,1,주부,0,0,0,0
9000,0,0,0,0,0,운전직,0,0,0,5100
12000,0,0,0,0,0,주부,0,0,0,0
15000,30미만,0,0,0,14,사무직,0,0,0,3500
18000,0,0,0,0,21,주부,0,0,0,0
21000,0,0,0,0,0,주부,0,0,0,0
24000,0,0,0,0,0,자영업,0,0,0,4200
27000,0,0,0,0,0,사무직,0,0,0,3600
30000,10미만,0,0,0,2,자영업,0,0,0,4700
33000,0,0,0,0,0,사무직,2,200811,3,3800
36000,40미만,0,0,0,6,사무직,0,0,0,0
39000,0,0,0,0,0,기타,0,200111,0,0
42000,20미만,0,0,0,13,주부,0,0,0,0
45000,0,0,0,0,0,사무직,0,0,0,5000
48000,10미만,0,0,0,6,단순 노무직,0,0,0,0
51000,0,0,0,0,0,학생,0,0,0,0
54000,0,0,0,0,0,단순 사무직,0,0,0,3600
57000,0,0,0,0,0,2차산업 종사자,0,0,0,3600
60000,0,28,0,0,0,전문직,6,200306,0,3900
63000,10미만,0,0,0,3,단순 사무직,0,0,0,3200
66000,10미만,0,0,0,0,사무직,0,0,0,3900
69000,0,0,0,0,0,공무원,0,0,0,5300
72000,0,0,0,0,0,사무직,0,0,0,5300
75000,0,0,0,0,4,주부,0,0,0,0
78000,30미만,0,0,0,15,학생,0,0,0,0
81000,0,0,0,0,0,주부,0,0,0,0
84000,0,0,0,0,1,기업/단체 임원,0,0,0,5900
87000,0,0,0,0,0,전문직,0,0,0,5100
90000,0,0,0,0,0,학생,0,0,0,0
93000,0,0,0,0,0,사무직,0,0,0,5300
96000,0,0,0,0,0,전문직,0,0,0,5600
99000,0,0,0,0,0,주부,0,0,0,0

### 5 SKT 영역 살펴보기
통신데이터 살펴보기

In [18]:
Column_index = 'SKT'
df[Column_index].head(2)

,가입일,결합여부,납부미준수,납부방법,납부요금,단말기,단말기/잔금,멤버쉽,연체액/당월,연체액/연,월통화/분,월통화/빈도,정지일수,회선상태,회선수익
0,20111,N,0,O,80000,800000,580000,NaN,0,0,450,493,0,U,30000
1,20143,N,0,O,40000,500000,90000,NaN,0,0,81,22,0,U,30000

In [19]:
# 한화 개별 컬럼의 데이터 살펴보기
# '막내나이'데이터만 분실할뿐 다른 영역은 나름 알차게 정리되어 있다.
print(len(df[Column_index].columns), 'total column counts')
for col in df[Column_index].columns:
    print(col , '\n', set(df[Column_index][col]), '\n\n')
#     print(col , '\n', set(df['Hanhwa'][col].dropna()), '\n\n')

15 total column counts
가입일
 {19971, 19972, 19973, 19974, 19981, 19982, 19983, 19984, 19991, 19992, 19993, 19994, 20001, 20002, 20003, 20004, 20011, 20012, 20013, 20014, 20021, 20022, 20023, 20024, 20031, 20032, 20033, 20034, 20041, 20042, 20043, 20044, 20051, 20052, 20053, 20054, 20061, 20062, 20063, 20064, 20071, 20072, 20073, 20074, 20081, 20082, 20083, 20084, 20091, 20092, 20093, 20094, 20101, 20102, 20103, 20104, 20111, 20112, 20113, 20114, 20121, 20122, 20123, 20124, 20131, 20132, 20133, 20134, 20141, 20142, 20143, 20144, 20151, 20152, 20153, 20154, 20161, 20162, 19934, 19941, 19942, 19943, 19944, 19951, 19952, 19953, 19954, 19961, 19962, 19963, 19964}


결합여부
 {'Y', 'N'}


납부미준수
 {0, 1, 2}


납부방법
 {nan, 'K', 'G', 'O', 'R'}


납부요금
 {80000, 0, 160000, 400000, 560000, 240000, 320000, 480000, 640000, 10000, 100000, 20000, 180000, 500000, 260000, 340000, 420000, 740000, 580000, 660000, 30000, 40000, 120000, 200000, 280000, 360000, 600000, 520000, 440000, 680000, 50000, 380000, 140000, 60000, 300000, 540000, 220000, 700000, 780000, 460000, 620000, 70000, 950000}


단말기
 {800000, 0, 500000, 400000, 900000, 1000000, 300000, 600000, 700000, 200000, 1100000, 100000, 1200000}


단말기/잔금
 {320000, 0, 960000, 640000, 170000, 810000, 490000, 20000, 340000, 660000, 980000, 510000, 830000, 190000, 40000, 360000, 680000, 1000000, 210000, 530000, 850000, 380000, 60000, 700000, 550000, 230000, 870000, 720000, 80000, 400000, 250000, 570000, 890000, 100000, 740000, 420000, 270000, 590000, 910000, 120000, 440000, 760000, 290000, 610000, 930000, 460000, 140000, 780000, 1100000, 310000, 630000, 950000, 800000, 160000, 480000, 330000, 10000, 650000, 970000, 180000, 500000, 820000, 30000, 350000, 670000, 990000, 520000, 840000, 200000, 50000, 690000, 370000, 220000, 540000, 860000, 70000, 710000, 390000, 240000, 560000, 880000, 410000, 90000, 730000, 580000, 260000, 900000, 110000, 430000, 750000, 280000, 600000, 920000, 130000, 450000, 770000, 940000, 300000, 620000, 470000, 150000, 790000}


멤버쉽
 {nan, 'E', 'W', 'R', 'Q'}


연체액/당월
 {0, 80000, 160000, 240000, 1200000, 320000, 800000, 560000, 480000, 400000, 10000, 90000, 170000, 250000, 490000, 410000, 330000, 570000, 180000, 100000, 20000, 260000, 340000, 580000, 420000, 500000, 900000, 30000, 110000, 270000, 350000, 190000, 430000, 590000, 510000, 120000, 40000, 360000, 200000, 280000, 600000, 520000, 440000, 1000000, 130000, 50000, 210000, 290000, 370000, 450000, 530000, 540000, 60000, 220000, 140000, 700000, 460000, 300000, 380000, 150000, 70000, 230000, 310000, 390000, 550000, 470000}


연체액/연
 {0, 1600000, 320000, 640000, 960000, 490000, 170000, 20000, 340000, 660000, 190000, 510000, 40000, 360000, 680000, 1000000, 210000, 530000, 60000, 700000, 380000, 230000, 550000, 80000, 400000, 720000, 250000, 570000, 100000, 420000, 740000, 270000, 590000, 1400000, 120000, 440000, 760000, 290000, 610000, 780000, 140000, 1100000, 460000, 630000, 310000, 800000, 160000, 480000, 10000, 330000, 650000, 180000, 500000, 30000, 350000, 670000, 520000, 200000, 840000, 50000, 370000, 690000, 220000, 540000, 70000, 390000, 240000, 560000, 1200000, 90000, 410000, 1050000, 260000, 580000, 110000, 430000, 280000, 600000, 920000, 130000, 450000, 620000, 300000, 150000, 470000}


월통화/분
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1310, 1320, 1330, 1340, 1350, 1360, 1370, 1380, 1390, 1400, 1410, 1420, 1430, 1440, 1450, 1460, 1470, 1480, 1490, 1500, 1510, 1520, 1530, 1540, 1550, 1560, 1570, 1580, 1590, 1600, 1610, 1620, 1630, 1640, 1650, 1660, 1670, 1680, 1690, 1700, 1710, 1720, 1730, 1740, 1750, 1760, 1770, 1780, 1790, 1800, 10000, 1810, 1820, 1830, 1840, 1850, 1860, 1870, 1880, 1890, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020, 2030, 2040, 2050, 2060, 2070, 2080, 2090, 2100, 2110, 2120, 2130, 2140, 2150, 2160, 2170, 2180, 2190, 2200, 2210, 2220, 2230, 2240, 2250, 2260, 2270, 2280, 2290, 2300, 2310, 2320, 2330, 2340, 2350, 2360, 2370, 2380, 2390, 2400, 2410, 2420, 2430, 2440, 2450, 2460, 2470, 2480, 2490, 2500, 2520, 2540, 2560, 2580, 2600, 2620, 2640, 2660, 2680, 2700, 2720, 2740, 2760, 2780, 2800, 2840, 2880, 2920, 2960, 3000, 3080, 3160, 3240, 3320, 3400, 3480, 3560, 3640, 3720, 3800, 3900, 4000, 4200, 4400, 4600, 4800, 5000, 6000, 7000}


월통화/빈도
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 768, 769, 770, 771, 772, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000, 1010, 1020, 1030, 1040, 1050, 1060, 1070, 1080, 1090, 1100, 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180, 1190, 1200, 1220, 1240, 1260, 1280, 1300, 1320, 1340, 1360, 1380, 1400, 1440, 1480, 1520, 1560, 1600, 1700, 1800, 1900}


정지일수
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 2060, 126, 125, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 2200, 152, 154, 155, 153, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 2300, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 2100, 330, 335, 340, 345, 350, 2400, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 127, 640, 645, 650, 2700, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 156, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000, 1010, 1020, 1030, 1040, 1050, 1060, 1070, 1080, 1090, 1100, 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180, 1190, 1200, 1210, 1220, 1230, 1240, 1250, 1260, 1270, 1280, 1290, 1300, 1310, 1320, 1330, 1340, 1350, 1360, 1370, 1380, 1390, 1400, 1410, 1420, 1430, 1440, 1450, 1460, 1470, 1480, 1490, 1500, 1510, 1520, 1530, 1540, 1550, 1560, 1570, 1580, 1590, 1600, 1620, 1640, 1660, 1680, 1700, 1720, 1740, 1760, 1780, 1800, 1820, 1840, 1860, 1880, 1900, 1940, 1980, 2020}


회선상태
 {'U', 'S'}


회선수익
 {0, 80000, 400000, 160000, 240000, 10000, 90000, 250000, 170000, 20000, 100000, 500000, 180000, 260000, 190000, 30000, 110000, 270000, 350000, 40000, 120000, 200000, 50000, 130000, 210000, 290000, 60000, 140000, 220000, 70000, 310000, 150000, 230000, -1}

In [25]:
Column_index = 'SKT'
df[Column_index][::3000]

,가입일,결합여부,납부미준수,납부방법,납부요금,단말기,단말기/잔금,멤버쉽,연체액/당월,연체액/연,월통화/분,월통화/빈도,정지일수,회선상태,회선수익
0,20111,N,0,O,80000,800000,580000,NaN,0,0,450,493,0,U,30000
3000,20133,N,0,O,70000,0,110000,Q,0,0,319,191,39,U,30000
6000,20151,Y,0,O,50000,500000,210000,NaN,0,0,141,149,0,U,30000
9000,19971,N,0,O,20000,500000,0,W,0,0,0,10,6,U,20000
12000,20002,N,0,O,60000,400000,0,NaN,0,60000,67,425,0,U,50000
15000,20142,Y,0,O,240000,0,150000,NaN,0,0,446,644,0,U,60000
18000,20152,N,0,O,140000,0,570000,NaN,110000,110000,1540,401,2,U,80000
21000,20101,N,0,K,40000,700000,0,R,0,0,143,63,0,U,30000
24000,20133,Y,0,O,80000,0,450000,NaN,0,0,1080,699,0,U,60000
27000,20033,N,0,K,60000,900000,0,R,0,0,221,292,9,U,50000
30000,20122,N,0,K,20000,800000,470000,W,0,0,351,187,0,U,-1
33000,20152,N,0,O,40000,300000,90000,NaN,0,0,113,132,0,U,30000
36000,20143,N,0,O,40000,0,0,NaN,0,0,163,203,0,U,40000
39000,20161,N,0,O,30000,0,630000,NaN,170000,170000,0,103,0,U,10000
42000,20121,N,0,O,100000,900000,380000,R,0,0,965,262,0,U,60000
45000,20104,Y,0,K,50000,0,0,E,0,0,410,220,3,U,40000
48000,20161,N,0,O,20000,300000,160000,NaN,270000,270000,0,75,0,U,10000
51000,20143,Y,0,O,70000,900000,240000,W,0,0,0,64,0,U,40000
54000,20054,N,0,K,100000,900000,740000,E,0,0,179,70,0,U,60000
57000,20093,Y,0,K,40000,900000,0,W,0,0,436,366,0,U,30000
60000,20123,N,0,K,30000,0,0,W,0,0,678,265,0,U,30000
63000,20143,N,0,K,180000,900000,310000,NaN,0,0,86,259,0,U,70000
66000,20032,Y,0,O,50000,800000,10000,R,0,0,89,107,53,U,50000
69000,20153,Y,0,K,80000,900000,450000,Q,0,60000,495,393,0,U,40000
72000,20131,N,0,O,100000,600000,280000,NaN,0,0,662,617,0,U,80000
75000,20134,N,0,O,80000,700000,380000,NaN,0,0,265,176,0,U,60000
78000,20101,N,0,O,20000,0,0,W,0,0,4,3,0,U,20000
81000,20133,N,0,K,40000,0,0,NaN,0,0,9,0,0,U,40000
84000,20041,N,0,K,80000,800000,0,E,0,0,1070,325,0,U,70000
87000,20111,N,0,O,80000,900000,0,NaN,0,0,240,208,0,U,70000
90000,20151,N,0,O,100000,900000,530000,NaN,0,0,910,682,0,U,70000
93000,20103,N,0,O,40000,0,0,NaN,0,0,203,188,0,U,30000
96000,20132,N,0,O,80000,900000,0,NaN,0,0,96,30,0,U,70000
99000,20112,Y,0,K,120000,200000,60000,NaN,0,0,581,181,0,U,30000